/* CSS QUERIES */
@media only screen and (max-width: 980px) {
  .headings {
    margin-right: 5px;
  }
  h1 {
    color: #fff;
  }
  h4 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
  }
}
@media only screen and (max-width: 1100px) {
  .about-container {
    flex-direction: column;
  }
  .about-container p {
    width: 100%;
  }
}
@media only screen and (max-width: 1130px) {
  .work-container {
    flex-direction: column;
    align-items: center;
  }
  .column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 690px) {
  .column {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  section {
    padding: 4rem 0;
  }
}
@media only screen and (max-width: 660px) {
  nav {
    position: fixed;
    padding: 0 2rem;
  }
  .nav-links {
    display: none;
    padding: 2rem 0;
  }
  .nav-links li {
    margin-right: 0;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  nav ul li:hover,
  nav ul li:active {
    border-bottom: 0px;
  }
  .nav-mobile {
    display: contents;
  }
}
@media only screen and (max-width: 445px) {
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 445px) {
  .service div {
    width: 90%;
  }
}
@media only screen and (max-width: 290px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-height: 660px) {
  .social-links-header {
    flex-direction: row;
  }
}
@media only screen and (max-height: 400px) {
  #home {
    min-height: 160vh;
  }
}
